body {
    background-image: url('../../add.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 40px auto;  /* Centrar y dar espacio superior */
    padding: 30px;  /* Aumentar padding */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;  /* Aumentar el margen inferior */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-control {
    width: 70%; /* Cambiar el ancho a 70% */
    padding: 10px;  /* Ajustar el padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    margin: 0 auto; /* Centrar los campos */
    display: block; /* Hacer que se comporten como bloques */
}


.form-control:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.create-product-button {
    display: inline-block;
    padding: 12px 20px;  /* Aumentar el padding */
    background-color: rgba(46, 204, 113, 0.7);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.create-product-button:hover {
    background-color: rgba(46, 204, 113, 1);
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: #e0e0e0;
    color: #333;
}

.btn-secondary:hover {
    background-color: #d5d5d5;
    transform: scale(1.05);
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}
